.banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 1rem ;
    gap: 1rem;
    
}

.banner img{
width: 100%;
height: 100%;
object-fit:fill;
border-radius: 10px;
transition-duration: 0.5s;
}

.banner img:hover{
  scale: 110%
  
}

@media (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;

    
  }   
  .banner img{
    margin: auto ;
    width: 90%; 
  }
  .cabecera-text {
    @include titulo-pequeño;
    text-align: center;

  }
}
