body{
    border: 0;
    margin: 0;
}

.container{
    width: 70%;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    width: 100%;
   
}

$naranja: #ff751f;
$azul: #02224b;
$blanco: white;

@mixin titulo-grande{
    color: $naranja;
    font-size: 2rem;
}

@mixin titulo-mediano{
    color: $naranja;
    font-size: 1.5rem;
}

@mixin titulo-pequeño{
    color: $naranja;
    font-size: 1rem;
}

@mixin texto-banner-grande{
    color: $naranja;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 0.5px white;
}
@mixin texto-banner-mediano{
    color: $naranja;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
          
}

@mixin texto-banner-pequeno{
    color: $naranja;
    font-size: 1rem;
}

@mixin texto-banner-fondo{
    color: $azul;
    font-size: 4rem;    
     -webkit-text-stroke: 2px white;
}

@mixin texto-banner-fondo-movil{
    color: $azul;
    font-size: 4rem;
     -webkit-text-stroke: 1px white;
}

@mixin texto-banner-productos-xl{
    color: $naranja;
    font-size: 3rem;
    -webkit-text-stroke: 0.5px white;
}
@mixin texto-banner-productos-l{
    color: $naranja;
    font-size: 2rem;
    -webkit-text-stroke: 0.5px white;
}
// RESPONSIVE TABLET
@media (max-width: 1200px) and (min-width: 769px) {
.container{
    width: 90%;
    
}

}

//RESPONSIVE MOVIL
@media (max-width: 768px) {

.container{
    width: 100%;
    
}

}

/* LOADER */
#loader {
  position: fixed;
  inset: 0;
  background: #0a3d62; /* tu azul magistral */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Spinner */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255,255,255,0.3);
  border-top-color: #ff9f1a; /* naranja */
  border-radius: 50%;
  animation: girar 1s linear infinite;
}

@keyframes girar {
  to { transform: rotate(360deg); }
}

/* Ocultar contenido hasta cargar */
.oculto {
  opacity: 0;
}
.visible {
  opacity: 1;
  transition: opacity 0.4s ease;
}
