@import 'estilos';
@import 'main';
@import 'cabecera';
@import 'etiqueta';
@import 'banner';
@import 'productos-grid';
@import 'banner-tienda';
@import 'banner-contacto';
@import 'seccion-iconos';
@import 'footer';


/* CONTENIDO OCULTO DE VERDAD */
#contenido {
  opacity: 0;
}

/* CUANDO YA ESTÁ LISTO */
#contenido.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* LOADER */
#loader {
  position: fixed;
  inset: 0;
  background: #0a3d62;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
